.titulo {
    text-align: center;
    color: goldenrod;
    background-color: khaki;
    margin: 0px 0px;
 }
 
 
 .sla {
   text-align: center;
   background-color: khaki;
   margin: 0px 0px;
 }

 .tudo {
    background-color: khaki;
 }
 
 .sla:hover {
   transform: scale(20.20);
 }
